@import 'variables';



.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}
.iconC {
	padding: 10px;
	background: $bt-color;
	color: white;
	min-width: 50px;
	text-align: center;
}
.input-field {
	width: 100%;
	padding: 10px;
	outline: none;
	&:focus {
		border: 2px solid $bt-color;
	}
}
.btnC {
	background-color: $bt-color;
	color: white;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

